<!doctype html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <h1>Your Character:</h1>
    <h2>Name: </h2>{{ character.name }}
    <h2>Class: </h2>{{ character.charClass }}
    <h2>Race: </h2>{{ character.race }}
    <h3>Strenth: </h3>{{ character.str }}
    <h3>Dexterity: </h3>{{ character.dex }}
    <h3>Constitution: </h3>{{ character.con }}
    <h3>Intelligence: </h3>{{ character.int }}
    <h3>Wisdom: </h3>{{ character.wis }}
    <h3>Charisma: </h3>{{ character.cha }}
</html>